---
import Layout from "layouts/Layout.astro"
import JournalBanner from "app/JournalBanner.astro"
---

<Layout title="HypeTech Journal">
    <main class="fullpage">
        <JournalBanner />
    </main>
</Layout>
