<div class="center">
    <div class="headings center">
        <h2>Ready to get started?</h2>
        <p>Book a free consultation with our team to learn more about our programs and what we do.</p>
    </div>
</div>
<div class="center">
    <a href="https://cal.com/marsicdev" role="button" class="button">Book a consultation</a>
</div>
