---
import Paper from "components/Paper.astro"
import discord from "images/discord.svg"
---

<Paper>
    <div class="grid">
        <div class="center">
            <img slot="card-icon" width="50%" src={discord} alt="HypeTech Education Discord" />
        </div>
        <div>
            <div class="headings">
                <h2>HTE Discord Server</h2>
                <h3>
                    We are growwing community, always happy to help. Probably the best place to get in touch. When you
                    hop in make sure to check out<code>#good-read</code>
                    channel.
                </h3>
            </div>
            <a
                slot="card-cta"
                style="width: 60%;"
                href="https://discord.gg/94uhCAkFKf"
                role="button"
                class="contrast"
                target="_blank">Join Community <span>&#8594;</span></a
            >
        </div>
    </div>
</Paper>
