---
import Paper from "components/Paper.astro"
---

<section>
    <div class="grid">
        <Paper>
            <h2>📣 Tech Talks</h2>
            <p>
                Get a booster! Expect a mix of lectures and live-coding, with best practices tips and tricks. Feel free
                to ask anything.
            </p>
        </Paper>
        <Paper>
            <h2>📚 Lectures</h2>
            <p>
                We value simple content, structure, design patterns, good tools and clean code. We will explore React
                ecosystem and new tools.
            </p>
        </Paper>
    </div>
    <div class="grid">
        <Paper>
            <h2>🧠 Master Classes</h2>
            <p>
                Expert-led advanced content straight to your brain. Expect a mix of lectures and live-coding. Keep
                learning new things.
            </p>
        </Paper>
        <Paper>
            <h2>💻 Workshops</h2>
            <p>
                You can request full-day workshops led by our instructors and implement knowledge on a real project
                on-site for a specific use case.
            </p>
        </Paper>
    </div>
</section>
