<article>
    <details>
        <summary>Do you have free events?</summary>
        <p>
            We have a number of free events, including our regular
            <a href="https://www.meetup.com/hype-tech" target="_blank">HypeTech Education</a> meetup, on every second
            Wednesday evening at 20.30 CEST. We also have a number of free events for underrepresented groups in tech.
            Please check our
            <a href="https://www.meetup.com/hype-tech" target="_blank">Meetup page</a> for more details.
        </p>
    </details>

    <details>
        <summary>Do your record some of your events?</summary>
        <p>
            We record all of our events and upload them to our
            <a href="https://www.youtube.com/c/HypeTechEducation" target="_blank">YouTube channel</a>. We will
            upload the recording within a few days of the event. If you would like to be notified when we upload a
            new video, please subscribe to our YouTube channel.
        </p>
    </details>

    <details>
        <summary>How to become a speaker at your events?</summary>
        <p>
            If you would like to speak at one of our events, please get in touch with us at our discord server or schedule a meetup consultation . We
            are always looking for speakers to talk about interesting topics in tech. We are happy to accept
            speakers of all levels of experience, from first time speakers to seasoned veterans. We are also happy
            to accept speakers from underrepresented groups in tech.
        </p>
    </details>

    <details>
        <summary>Do you accept sponsorships?</summary>
        <p>
            If you or your company would like to sponsor us, please get in touch with us at our discord server. We
            are always looking for sponsors to help us run our events. Sponsorship can be in the form of providing a
            venue, food, drinks or money. We are also happy to accept sponsorship in the form of swag, which we can
            give away at our events. In return, we will promote your company at our events and on our website.
        </p>
    </details>
</article>
