<footer class="container center">
    <div class="center">
        <img class="footer-logo" width="30%" src="/assets/hte-logo-text-dark.png" alt="" />
        <p>Knowledge is a power. | © {new Date().getFullYear()}</p>
    </div>
</footer>
