---
import { Image } from "astro:assets"
---

<footer class="container center">
    <div class="center">
        <Image class="footer-logo" width="200" height="150" src="/assets/hte-logo-text-dark.png" alt="da" />
        <p>Knowledge is a power. | © {new Date().getFullYear()}</p>
    </div>
</footer>
