<div class="container center">
    <div class="center">
        <img width="30%" src="/assets/hte-logo-text.png" alt="">
        <p>© {new Date().getFullYear()} - HypeTech Education</p>
    </div>
</div>
