<div class="grid">
    <section>
        <img width="90%" src="/assets/hte-logo-text.png" alt="HypeTech Education logo" />

        <p>
            Top-notch lectures and workshops,
            <strong><mark>crafted by industry standards</mark></strong> to elevate your programming game
        </p>
    </section>
    <section class="center">
        <img width="70%" src="/assets/hte-logo-dark1.png" alt="HypeTech Education path logo" />
    </section>
</div>
