---
import { Image } from "astro:assets"

import Paper from "components/Paper.astro"
import SubstackSubscribe from "components/SubstackSubscribe.astro"
---

<Paper>
    <div class="grid">
        <div class="center">
            <!-- <img width="50%" src="/assets/ht-journal.png" alt="HypeTech Journal logo" /> -->
            <Image
                class="text-logo"
                width="220"
                height="150"
                src="/assets/ht-journal.png"
                alt="HypeTech Education logo"
            />
        </div>
        <div>
            <div class="headings">
                <h2>HypeTech Journal</h2>
                <h3>Insights into senior dev reading activity</h3>
            </div>
            <SubstackSubscribe />
            <p>
                A monthly newsletter digest of high-quality engineering-related content currated by senior developers.
            </p>
        </div>
    </div>
</Paper>
