---
import Paper from "./Paper.astro"

interface Props {
    title: string
    body: string
}

const { title, body } = Astro.props
---

<Paper>
    <slot name="card-icon" />
    <br />
    <br />
    <h3>
        {title}
    </h3>
    <p>
        {body}
    </p>
    <slot name="card-cta" />
</Paper>
