<div>
    <div id="custom-substack-embed"></div>

    <script>
        window.CustomSubstackWidget = {
            substackUrl: "hypetechjournal.substack.com",
            placeholder: "example@gmail.com",
            buttonText: "Subscribe",
            theme: "purple",
        }
    </script>
    <script src="https://substackapi.com/widget.js" async></script>
</div>

<style>
    #custom-substack-embed {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
</style>
