<span class="btn-toggle-theme" data-toggle-theme-btn>☀️</span>

<script>
    const [toggleThemeBtn] = document.querySelectorAll("[data-toggle-theme-btn]")
    toggleThemeBtn.addEventListener("click", toggleTheme)

    // DOM content loaded
    document.addEventListener("DOMContentLoaded", () => {
        // Get the current theme from local storage
        const userTheme = localStorage.getItem("theme")

        // If the current local storage item is "dark"
        if (userTheme) {
            // set theme to document root
            setTheme(userTheme)
        }
    })

    function toggleTheme() {
        const currentTheme = document.documentElement.getAttribute("data-theme") ?? "dark"
        const theme = currentTheme === "dark" ? "light" : "dark"

        setTheme(theme)

        const THEME_STORAGE_KEY = "theme"
        localStorage.setItem(THEME_STORAGE_KEY, theme)
    }

    function setTheme(theme: "dark" | "light" | string) {
        // set theme to document root
        document.documentElement.setAttribute("data-theme", theme)

        const textLogoImgs: any = {
            dark: "/assets/hte-logo-text-dark.png",
            light: "/assets/hte-logo-text-light.png",
        } as const

        const pathLogoImgs: any = {
            dark: "/assets/hte-logo-dark.png",
            light: "/assets/hte-logo-light.png",
        } as const

        const $textLogo = document.querySelector(".text-logo")
        const $pathLogo = document.querySelector(".path-logo")
        const $footerLogo = document.querySelector(".footer-logo")

        $textLogo?.setAttribute("src", textLogoImgs[theme])
        $pathLogo?.setAttribute("src", pathLogoImgs[theme])
        $footerLogo?.setAttribute("src", textLogoImgs[theme])

        toggleThemeBtn.textContent = theme === "dark" ? "☀️" : "🌔"
    }
</script>

<style>
    .btn-toggle-theme {
        position: fixed;
        top: 1rem;
        right: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: var(--color-bg);
        box-shadow: 0 0 0.5rem var(--color-shadow);
        cursor: pointer;
        padding: 5px;
    }

    .btn-toggle-theme:hover {
        transform: scale(1.2);
        transition: all 0.1s ease-in-out;
    }

    .btn-toggle-theme:active,
    .btn-toggle-theme:focus {
        background: transparent;
    }
</style>
