---
import "@picocss/pico"
import { ViewTransitions } from "astro:transitions"

import GlobalStyles from "components/GlobalStyles.astro"
import GoogleScripts from "components/GoogleScripts.astro"
import Nav from "components/Nav.astro"
// import ThemeButton from "components/ThemeButton.astro"

interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="HypeTech Education" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <GoogleScripts />
        <ViewTransitions />
        <script is:inline defer data-domain="education.hypetech.io" src="https://analytics.hypetech.dev/js/script.js"></script>
    </head>
    <body>
        <GlobalStyles />
        <!-- <ThemeButton /> -->
        <Nav />
        <slot />
        <slot name="footer" />
        <script>
            import AOS from "aos"
            import "aos/dist/aos.css"
            AOS.init()
        </script>
    </body>
</html>
