---
import "@picocss/pico"

import GlobalStyles from "components/GlobalStyles.astro"
import GoogleScripts from "components/GoogleScripts.astro"
import ThemeButton from "components/ThemeButton.astro"

interface Props {
    title: string
    container?: boolean
}

const { title, container = true } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="HypeTech Education" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <GoogleScripts />
    </head>
    <body>
        <GlobalStyles />
        <ThemeButton />
        <slot />
        <slot name="footer" />
        <script>
            import AOS from "aos"
            import "aos/dist/aos.css"
            AOS.init()
        </script>
    </body>
</html>
